html {
  font-family: Roboto, sans-serif;
  --primary-color: #330033;
  --secondary-color: #336633;
  --bg-color: #ccffcc;
}


body {
  background-color: var(--bg-color);
}


* {
  color: var(--secondary-color);
}

h1,h3,a{
color: var(--primary-color);
}

h3,a{
color: var(--primary-color);
}



.car {
  max-width: 900px;
  margin: 0 auto;
}


}